html {
    height:100%;
}

body {
    margin:0;
    background: #21252b;
}

body, input, textarea, table {
    font-size:13px;
    font-family: 'Roboto', sans-serif;
    color: #9da5b4;
}

h1, h2, h3 {
    color: #d7dae0;
}

text {
    fill: #9da5b4;
}


/**************Page Wrapper*****************/
#content {
    min-width: 960px;
    max-width:1920px;
    margin:auto;
    overflow: hidden;
    padding: 0 10px;
}


/**************Header*****************/
header {
    padding:10px 0;
    text-align: center;
}

header h1 {
    margin: 5px 0;
}

header span {
    font-style:italic;
}

/**************Searchbar*****************/
.searchWrapper {
    display:flex;
    position:relative;
    margin-top: 10px;
}

.searchbar {
    flex-grow:1;
    position:relative;
}

.searchbarInputWrapper {
    border: 2px solid #333842;
    padding: 5px 10px;
    height: 45px;
    overflow: hidden;
    box-sizing:border-box;
}

.searchbarInputWrapper:hover{
    /*cursor:text;*/
}

.searchbarInputWrapper ul.searchInputTokens {
    position:absolute;
    white-space: nowrap;
    overflow: hidden;
    max-width:calc(100% - 50px);
    top:-2px;
    padding: 0;
}

.searchbarInputWrapper ul li:last-child{
    width:100%;
}

.searchbarInputWrapper input.searchbarInput {
    border: 0;
    outline: 0;
    height:100%;
    font-size:16px;
    background: #21252b;
}

.searchbarInputWrapper input.searchbarInput::-ms-clear {
  width : 0;
  height: 0;
}

.searchbar .results{
    position: absolute;
    width:100%;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    border-color: #000;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    z-index: 100;
}

.searchbar .searchOption{
    padding:10px 20px;
    background: #333842;
    border-bottom:1px solid #21252b;
}

.searchbar .searchOption:last-child{
    border-bottom:0;
}

.searchbar .searchOption.focused{
    background: #088cff;
}

.searchbar .results.noResults{
    display:none;
}

.searchbar .searchOptionTitle{
    font-size: 16px;
    color:#d7dae0;
    margin-right:40px;
}

.searchbar .searchbarTokenWrapper {
    height:100%;
    display:inline-block;
}

.searchbar .searchToken {
    color:#FFF;
    display: inline-block;
    margin-right: 10px;
}

.searchbar .searchToken span {
    display:inline-block;
    padding:5px 10px;
}
.searchbar .searchTokenButton:hover {
    cursor: pointer;
}

.searchbar .loadingIcon {
    background:url("/images/ajax-loader.gif") no-repeat;
}

.searchbar .loadingIcon {
    position:absolute;
    right: 10px;
    height:32px;
    width:32px;
}

.fadingLoad-enter {
  opacity: 0.01;
}

.fadingLoad-enter.fadingLoad-enter-active {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}

.fadingLoad-leave {
  opacity: 1;
}

.fadingLoad-leave.fadingLoad-leave-active {
  opacity: 0.01;
  transition: opacity 0.3s ease-in;
}

.searchWrapper .searchButtons {
    flex-shrink: 0;
}

.searchWrapper .searchButtons .button{
    display:inline-block;
    padding: 10px;
    height: 45px;
    width: 45px;
    box-sizing: border-box;
    text-align:center;
    border: 1px solid #333842;
}

.searchWrapper .searchButtons .button:hover{
    cursor: pointer;
}

.searchWrapper .clearAllButton  {
    background: #9da5b4;
    color:#d7dae0;
}

.searchWrapper .clearAllButton:hover {
    background: #aaadb2;
}

.searchWrapper .searchIconButton {
    background: #088cff;
    color:#d7dae0;
}

.searchWrapper .searchIconButton:hover{
    background:#1993ff;
}



/**************Chart*****************/
.chart {
    overflow:visible;
}

path {
    fill:none;
}
path.expected {
    stroke-dasharray: 3,3;
}

.axisContainer path, .axisContainer .tick line{
    stroke: #9da5b4;
}

circle.expected  {
    stroke-width:2;
    fill: #21252b;
}

.tooltip  {
    position: absolute;
    background: #333842;
    font-size:16px;
    border:1px solid #000;
    padding: 10px;
    box-sizing: border-box;
    top:0;
    left:0;
}

.tooltip .tooltipTitleBar {
    display:table;
    width:100%;
    margin-bottom:5px;
}

.tooltip .tooltipTitleBar h2, .tooltip .tooltipTitleBar .tooltipTitleAside {
    display: table-cell;
}

.tooltip .tooltipTitleBar .tooltipTitleAside {
    text-align: right;
}

.tooltip .tootipSecondaryInfo{
    margin-bottom:5px;
}

.tooltip table {
    font-size:16px;
}

.tooltip .tooltipStatsTable td{
    padding:2px 5px;
    /*padding: 5px 5px 0 0;*/
}
.tooltip .categoryTitle {
    color: #d7dae0;
}

/*.tooltip .tooltipStatsTable .scoreRow td{
    padding: 5px 5px;
}*/

.tooltip .scoreRow{
    background: #21252b;
}

.tooltip .scoreRowContents{
    font-color: #d7dae0;
    display:table;
    width:100%;
}

.tooltip .scoreRowContents > span {
    display:table-cell;
}

.tooltip .scoreRowContents .categoryValues{
    text-align:right;
}

.tooltip .scoreRowContents .scoreTitle {
    vertical-align: middle;
    margin:0 2px 0 20px;
}

.tooltip .scoreRowContents .score {
    vertical-align: middle;
    font-size:28px;
}

.tooltip:focus {
    /*border:0;
    outline: 0;*/
}

.tooltip:after, .tooltip:before {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
}

.tooltip.topConnector.tooltip:after, .tooltip.topConnector.tooltip:before{
    top: 20%;
}

.tooltip.bottomConnector.tooltip:after, .tooltip.bottomConnector.tooltip:before{
    top: 80%;
}

.tooltip:after {
    border-width: 16px;
    margin-top: -16px;
}

.tooltip:before {
    border-width: 17px;
    margin-top: -17px;
}

.tooltip.leftConnector:after, .tooltip.leftConnector:before {
    right: 100%;
}

.tooltip.leftConnector:after {
    border-right-color: #333842;
}

.tooltip.leftConnector:before {
    border-right-color: #000;
}

.tooltip.rightConnector:after, .tooltip.rightConnector:before {
    left: 100%;
}

.tooltip.rightConnector:after {
    border-left-color: #333842;
}

.tooltip.rightConnector:before {
    border-left-color: #000;
}

.fadingTooltip-enter {
  opacity: 0.01;
}

.fadingTooltip-enter.fadingTooltip-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in;
}

.fadingTooltip-leave {
  opacity: 1;
}

.fadingTooltip-leave.fadingTooltip-leave-active {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}

/**************Stat chart*****************/
.scatterPlotWrapper .chart {
    fill: #088cff;
}

/**************Table*****************/
.statBar {
    display:table;
    width: 100%;
    margin-top: 20px;
}

.statBar .tableWrapper,  .statBar .scatterPlotWrapper{
    display:table-cell;
    vertical-align: top;
}

.tableWrapper {
    width:100%;
    overflow:hidden;
}

.statBar .statTable {
    border-spacing:0;
    border-collapse: collapse;
    width:100%;
}

.statTable td  {
    padding-left:20px;
    padding-right:20px;
    padding-bottom:10px;
    vertical-align:top;
    margin: 0;
    width:25%;
    border-left: 2px solid #333842;
    border-right: 2px solid #333842;
}

.statTable td.statEntryTitle, .statTable .fitRow td {
    padding-top:15px;
    border-top: 2px solid #333842;
}

.statTable td.statEntryContent {
    padding-top:10px;
    padding-bottom:15px;
}
.statTable td.statEntryContent, .statTable .fitRow {
    border-bottom: 2px solid #333842;
}

.statBarEntry{
    display:inline-block;
    padding: 10px 20px;
}

.statEntryTitle {
    font-size:16px;
    font-weight:bold;
    color: #d7dae0;
}

.statEntryContent .actualValue, .statEntryContent .projValue{
    box-sizing:border-box;
    text-align:center;
    display:inline-block;
    width:50%;
}

.statTable  .statEntrySubcontent{
    font-weight:bold;
    border-bottom: 0;
    border-top: 0;
}

.statTable td .playerValue {
    float:left;
}

.statTable td .weekValue {
    float:right;
}

.statTable td .score {
    font-size:32px;
}

.statTable td .scoreTitle {
    margin-top:5px;
}

.statTable .fitRow .scoreTitle{
    font-size:16px;
    font-weight:bold;
    margin: 0 5px 0 20px;
}

.statTable .fitRow span {
    display:inline-block;
    vertical-align:middle;
}

/**************Lower screen resolutions*****************/
@media (max-width: 1440px) {
    .statTable > tbody > tr > td {
        padding: 10px !important;
    }

    .statEntryTitle {
        font-size: inherit;
    }

    .statTable td .score {
        font-size:26px;
    }
}

@media (max-width: 1200px) {
    body, input, textarea, table {
        font-size:12px;
    }

    .statTable td .score {
        font-size:24px;
    }

}

@media (max-width: 1000px) {
    .statTable > tbody > tr > td {
        padding: 10px 5px !important;
    }
}
